:root {
    --background: #51335b;
    --background-contrast: #492e53;
    --highlight: #673d75;
    --border: #231628;
    --text: #fff;
}

#canvas {
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border: 2px solid var(--border);
    border-radius: 5px;
}

body {
    background: var(--background);
    color: var(--text);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 95%;
    height: 50px;
    transform: translate(2.5%, 0);
    background: var(--background-contrast);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.centerBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBar > * {
    margin: 0 10px;
}

.rightBar {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    margin: 0 10px;
    position: relative;
}

.hamburgerBar {
    width: 30px;
    height: 3px;
    background: var(--text);
    margin: 5px;
}

.hamburgerMenu {
    position: absolute;
    width: 150px;
    height: auto;
    padding-bottom: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--background-contrast);
    border: 1px solid var(--border);
    border-radius: 5px;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}

.screen {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 80%;
    width: 30%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    background: var(--background-contrast);
    opacity: 0.9;
    border: 1px solid var(--border);
    border-radius: 5px;
}

.screenChild {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    z-index: 3;
}

input {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background: var(--background);
    color: var(--text);
}

button {
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--border);
    background: var(--background);
    color: var(--text);
    cursor: pointer;
}

button:hover {
    background: var(--highlight);
}

a {
    color: var(--text);
    text-decoration: underline;
}